.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.titulo {
  background: #eee;
  padding: 8px;
  border-radius: 0 0 10px 10px;
}

.imagem {
  border-radius: 10px 10px 0 0;
}
