.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.titulo {
  background: #eee;
  padding: 8px;
  border-radius: 0 0 10px 10px;
}

.imagem {
  border-radius: 10px 10px 0 0;
}

@media (max-width: 860px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
  .link {
    max-width: 80%;
    margin: 0 auto;
  }
}
